<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/index.css">
</head>
<body>
    <nav>
        <a href="#">Home</a>
        <a href="#">Contact us</a>
        <a href="#">Help</a>
        <a href="#">Careers</a>
        <a href="#">About us</a>
        <a href="#">Logout</a>
    </nav>

    <div class="video-container">
        <video src="./styles/video.mp4" autoplay loop  ></video>
    </div>

    <div id="content">
       

<div id="leftbox">
    <h1 id="leftboxh1" style="color: gold;">Gaming Experience</h1>

    <p  id="leftboxp" style="color: white;" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ut suscipit, unde, autem perferendis assumenda eaque iusto praesentium, et voluptate nobis nisi quia nemo recusandae officiis eius impedit cum! Expedita!</p>


    <div id="inside" >

          <img id="image1"  src="https://icons.iconarchive.com/icons/martz90/circle/512/games-icon.png" height="100px" width="100px" />

          <img  id="image2"  src="https://e7.pngegg.com/pngimages/24/817/png-clipart-playstation-4-raiders-of-the-broken-planet-playstation-network-playstation-plus-playstation-electronics-text.png" height="100px" width="100px" />

          <img id="image3"  height="100px" width="100px"  src="https://www.pngall.com/wp-content/uploads/13/Marvel-Logo-PNG-Image.png"  />
    </div>
</div>

    </div>




<div class="Lowermiddleheader" >

    <h1    >Latest Releases</h1>
    
    <div class="lowermiddleborder" >
        
<div  class="Lowermiddle" >


    <div  id="data1">
         
       
        <img id="data1img"  height="200px" width="200px" src="https://m.media-amazon.com/images/I/712XPl7+qKL.jpg" />
        <h3   id="data1h3"   >Resident Evil 4</h3>
          
    </div>

    <div  id="data1">
         
       
        <img id="data1img"   height="200px" width="200px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/062fceab-dd60-438b-adb7-88f55526ae36/dgjcfvn-6c7b8786-1659-4163-9c65-ed253d145d4e.jpg/v1/fill/w_1024,h_1314,q_75,strp/gta_vi_ps5_cover_iii_by_domestrialization_dgjcfvn-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTMxNCIsInBhdGgiOiJcL2ZcLzA2MmZjZWFiLWRkNjAtNDM4Yi1hZGI3LTg4ZjU1NTI2YWUzNlwvZGdqY2Z2bi02YzdiODc4Ni0xNjU5LTQxNjMtOWM2NS1lZDI1M2QxNDVkNGUuanBnIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.2V6xYuThKl9_nJjknnJi6gWJDtTOSP-yiaJX3Ndc2pE" />
        <h3 id="data1h3"   >GTA 6</h3>
          
    </div>

    <div  id="data1">
         
       
        <img  id="data1img"  height="200px" width="200px" src="https://5.imimg.com/data5/SELLER/Default/2021/4/QO/MB/GX/55567277/cyberpunk-2077-ps4-for-playstation-4--500x500.jpg" />
        <h3   id="data1h3"   >Cyberpunk</h3>
    </div>

    <div  id="data1">
         
       
        <img  id="data1img"   height="200px" width="200px" src=" https://rukminim2.flixcart.com/image/850/1000/joixj0w0/physical-game/u/3/u/standard-edition-red-dead-redemption-2-full-game-ps4-original-imafayznnszyfn2h.jpeg?q=20&crop=false" />
        <h3 id="data1h3"      >Red Dead Redemption 2</h3>
    </div>


    <div  id="data1">
         
       
        <img id="data1img"  height="200px" width="200px" src="https://preview.redd.it/i-wonder-if-therell-ever-be-a-ps5-upgrade-for-the-last-of-v0-wyrwxxpl1fca1.png?width=640&crop=smart&auto=webp&s=173b438db01ea484a55a5080d7b6092842acb15a" />
        <h3 id="data1h3"   >The Last of Us 2</h3>
    </div>


</div>
    </div>

</div>



<div  class="Lowermiddle1header" >

    <h1>Buy our Products</h1>
    
<div class="Lowermiddle1"  >


 

        
    <div  id="info1">

       
        <h1>PS5 Console</h1>
  
        <div id="imageandinfo" >
  
            <img  src="https://toppng.com/uploads/thumbnail/ps5-official-console-and-controller-116429179024ysrhsi5ji.png" height="150px" width="150px" />
  
            <p  style="padding-left: 20px;" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit eum rerum quidem ipsa deleniti ab porro eaque. In dicta voluptates facilis, minima neque, non dignissimos, molestias atque dolor placeat nostrum?</p>
            
        </div>
  
  
      </div>
  
  
      <div  id="info1">
  
         
        <h1>Gaming PC</h1>
  
        <div id="imageandinfo" >
  
            <img  src="https://lh3.googleusercontent.com/proxy/byycbr-pR2MEHHP64DWU3KkB6X1IOBUcinZ5JwbZEeFvyt9MJ8yrkN3iSoWa40Eo5TVk16t7J20h53b8faZtNNuzqOCBFGWGkNad8by_U6Yg2tt6PfoGt6L9dCcrTEeug71axOuh" height="150px" width="150px" />
  
            <p style="padding-left: 20px;" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit eum rerum quidem ipsa deleniti ab porro eaque. In dicta voluptates facilis, minima neque, non dignissimos, molestias atque dolor placeat nostrum?</p>
            
        </div>
  
  
      </div>
  
  
      
      <div  id="info1">
  
         
          <h1>VR Set</h1>
    
          <div id="imageandinfo" >
    
              <img  src="https://m.media-amazon.com/images/I/71D9OsZmWxL.jpg" height="150px" width="150px" />
    
              <p  style="padding-left: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit eum rerum quidem ipsa deleniti ab porro eaque. In dicta voluptates facilis, minima neque, non dignissimos, molestias atque dolor placeat nostrum?</p>
              
          </div>
    
    
        </div>
   

  
  

</div>



</div>





<div  class="partnerbox" >

    <h1>Our Partners</h1>

    <div id="partnerinside" >

        

<img id="img1" src="https://download.logo.wine/logo/Rockstar_Games/Rockstar_Games-Logo.wine.png" height="200px" width="200px"/>

<img id="img1" src="https://1000logos.net/wp-content/uploads/2020/09/Capcom-logo.png " height="200px" width="200px"/>


<img id="img1" src="https://seeklogo.com/images/E/EA_Sports-logo-3DF52C2652-seeklogo.com.png" height="200px" width="200px"/>


<img id="img1"  src="https://logoeps.com/wp-content/uploads/2013/03/konami-vector-logo.png" height="200px" width="200px"/>


<img  id="img1" src=" https://1000logos.net/wp-content/uploads/2020/07/Ubisoft-Logo-2003.png " height="200px" width="200px"/>



    </div>





</div>




<div  class="driverpartner" >

<h1>Our Graphic partners</h1>

<div  id="driverinside" >


<img id="img1" height="150px" width="150px" src="https://upload.wikimedia.org/wikipedia/sco/thumb/2/21/Nvidia_logo.svg/2560px-Nvidia_logo.svg.png"  />

<img id="img1" height="150px" width="150px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/AMD_Radeon_logo.svg/1200px-AMD_Radeon_logo.svg.png"  />

<img id="img1" height="150px" width="150px" src="https://www.intel.com/content/dam/www/public/us/en/newsroom/posts/galleries/2022-03-30-pattern/intel-arc-badge-2-16x9.jpg.rendition.intel.web.480.270.jpg"  />

<img id="img1" height="150px" width="150px" src="https://upload.wikimedia.org/wikipedia/en/thumb/0/04/Huawei_Standard_logo.svg/1200px-Huawei_Standard_logo.svg.png"  />





</div>


</div>




<div class="aboutusmain" >

    <h1>About us</h1>


    <div  class="aboutus" >

        
    <div  id="person1" >

        <img  id="person1img" height="150px" width="150px"  src="https://images.ctfassets.net/h6goo9gw1hh6/2sNZtFAWOdP1lmQ33VwRN3/24e953b920a9cd0ff2e1d587742a2472/1-intro-photo-final.jpg?w=1200&h=992&fl=progressive&q=70&fm=jpg" />

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptates blanditiis aliquam hic voluptas rerum perspiciatis, ullam fuga dolorum molestiae.</p>

    </div>


    <div  id="person1" >

        <img  id="person1img" height="150px" width="150px"  src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cGVyc29ufGVufDB8fDB8fHww" />

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptates blanditiis aliquam hic voluptas rerum perspiciatis, ullam fuga dolorum molestiae.</p>

    </div>

    <div  id="person1" >

        <img  id="person1img" height="150px" width="150px"  src="https://www.shutterstock.com/image-photo/profile-picture-smiling-successful-young-260nw-2040223583.jpg" />

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptates blanditiis aliquam hic voluptas rerum perspiciatis, ullam fuga dolorum molestiae.</p>

    </div>
    </div>


</div>


<footer>
    <div class="footer-container">
        <div class="footer-content">
            <h3>About Us</h3>
            <p>A brief description of your company or website.</p>
        </div>
        <div class="footer-content">
            <h3>Contact Us</h3>
            <p>Email: info@example.com<br>Phone: +1234567890</p>
        </div>
        <div class="footer-content">
            <h3>Follow Us</h3>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; 2024 Your Company Name. All rights reserved.</p>
    </div>
</footer>




</body>
</html>
